body {
	margin: 0;
}
#title {
	font-size: 55px;
	padding: 50px 15px;
}
#content {
	padding: 10vh 0 75vh;
}
#refresh {
	position: fixed;
	top: auto;
	bottom: 50px;
	right: 50px;
	height: 110px;
	margin: 0;
}
#password {
	font-size: 110px;
	max-width: 100%;
	margin-left: 13%;
}