body {
	margin: 0;
}
#title {
	font-size: 87px;
	padding: 15% 50px;
}
#menu {
  float: right;
  margin-top: 32px;
  margin-right: 64px;
}
#list {
  height: 80px;
  padding: 20px;
}
.content {
	padding: 0 0 75vh;
}
#refresh {
	display: block;
	height: 175px;
	margin: 0 auto;
	top: 35vh;
	position: relative;
	bottom: auto;
	right: auto;
}
.password {
	font-size: 175px;
	max-width: 100%;
	margin-left: 15px;
}