body {
  margin: 5% 10% 0;
  text-align: center;
  font-size: 55px;
  background-color: #B5A5A4;
}
#title {
  margin-bottom: 0;
  padding: 40px 0 40px;
  background-color: #FFF;
  color:#565656;
}
#content {
  margin-top: 0;
  padding: 25vh 0 75vh;
  background-color: #7EC9AC;
}
#refresh {

}
#password {
  font-size: 55px;
  text-align: center;
  background-color: #7EC9AC;
  color:#FFF;
  border: 0;
}