body {
  margin: 0;
  height: 100%;
}
body {
  margin: 5% 10% 0;
  text-align: center;
  font-size: 55px;
  background-color: #B5A5A4;
  font-family: helvetica, sans-serif;
  -webkit-box-shadow: 0px 6px 75px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 6px 75px 1px rgba(0,0,0,0.45);
  box-shadow: 0px 6px 75px 1px rgba(0,0,0,0.45);
}
#title {
  margin: 0;
  padding: 50px 15px;
  background-color: #FFF;
  color: #565656;
  font-family: helvetica, sans-serif;
}
#title::selection {
  background: #7EC9AC;
}
#title::-moz-selection {
  background: #7EC9AC;
}
#password-container {
  padding-top: 50px;
  background-color: #7EC9AC;
}
input.password {
  font-size: 55px;
  width: 300px;
  background-color: #7EC9AC;
  color:#FFF;
  font-family: helvetica, sans-serif;
  border: 0;
  outline: none;
  margin-top: 15px;
}
p.password {
  color:#FFF;
  font-size: 145px;
  padding: 50px 0;
  margin: 0;
}
#password-container::selection, .password::selection {
  background: #fff;
}
#password-container::-moz-selection, .password::-moz-selection {
  background: #fff;
}
@media screen and (max-width: 1050px) {
  body {
    margin: 5% 0;
  }
}
@media screen and (max-width: 620px) {
  body {
    margin: 0;
  }
}