html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}
body {
  margin: 5% 10% 0;
  text-align: center;
  font-size: 55px;
  background-color: #B5A5A4;
  -webkit-box-shadow: 0px 6px 75px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 6px 75px 1px rgba(0,0,0,0.45);
  box-shadow: 0px 6px 75px 1px rgba(0,0,0,0.45);
}
#title {
  margin: 0;
  padding: 50px 0 50px;
  background-color: #FFF;
  color: #565656;
  font-family: helvetica, sans-serif;
}
#content {
  margin-top: 0;
  padding: 25vh 0 75vh 30%;
  background-color: #7EC9AC;
}
#refresh {
  height: 55px;
  position: relative;
  top: 10px;
}
#refresh:hover {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
#refresh:active {
  filter: brightness(0);
}
#password {
  font-size: 55px;
  background-color: #7EC9AC;
  color:#FFF;
  font-family: helvetica, sans-serif;
  border: 0;
}